<div class="form-wrapper">
    <div class="video-forms">
        <form id="link-comp-form">
            <b>Link Details:</b>
            <br /> Enter page link here : <input name="link" /> Enter link title here :
            <input name="link-title" />
            <br /><br />
            <button type="button" id="submit">Save</button>
        </form>

        <form id="button-comp-form">
            <b>Button Details:</b>
            <br /> Enter button name :
            <input name="link" />
            <br /><br />
            <button type="button" id="submit">Save</button>
        </form>

        <form id="hotspot-comp-form">
            <b>Hotspot Details:</b>
            <br /> Enter hotspot caption : <input name="link" /> Enter link title here :
            <input name="link-title" />
            <br /><br />
            <button type="button" id="submit">Save</button>
        </form>
    </div>
</div>