<!-- Libs JS -->
<script src="@@webRoot/node_modules/jquery/dist/jquery.min.js"></script>
<script src="@@webRoot/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
<script src="@@webRoot/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="@@webRoot/node_modules/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="@@webRoot/node_modules/feather-icons/dist/feather.min.js"></script>

<!-- Theme JS -->
<!-- build:js @@webRoot/assets/js/theme.min.js -->
<script src="@@webRoot/assets/js/main.js"></script>
<script src="@@webRoot/assets/js/local-db.js"></script>
<script src="@@webRoot/assets/js/feather.js"></script>
<script src="@@webRoot/assets/js/hotspot.js"></script>
<script src="@@webRoot/assets/js/sidebarMenu.js"></script>

<!-- endbuild -->